{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_wanted{% endtrans %}{% endblock %}

{% block body %}
        {% if wanted %}
            <div class="row p-5">
                {% for i in wanted %}
                {% set path_directories_uploads = 'uploads/directories' %}
                {% if i.faceImageSize != 0 %}{% set faceImage = path_directories_uploads ~ '/' ~ i.faceImageName
                %}{% else %}{% set faceImage = 'img/nophoto.jpg' %}{% endif %}
                <div class="col-sm-6">
                    <div class="card prod-p-card background-pattern">
                        <div class="card-body">
                            <div class="row align-items-center m-b-0">
                                <div class="col">
                                    <h6 class="m-b-5">{% trans %}title_wanted{% endtrans %}</h6>
                                    <h3 class="m-b-0 fw-bold">{{i.fullname}}</h3>
                                    {% if i.wantedPublicReason %}
                                    <h4 class="m-b-0 text-danger">{{i.wantedReason}}</h4>
                                    {% endif %}
                                </div>
                                <div class="col-auto">
                                    <a data-toggle="lightbox" data-gallery="wanted"
                                        data-caption="{% trans %}title_wanted{% endtrans %}: {{ i.fullname }}"
                                        href="{{ asset(faceImage) }}"><img class="img-fluid"
                                            style="max-height: 100px;" src="{{ asset(faceImage) }}"
                                            alt="{{ i.fullname}}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                {% endfor %}
            </div>
        {% endif %}
{% endblock %}