{% extends 'base.html.twig' %}

{% block title %}{{ directory.fullName }} - {% trans %}title_history{% endtrans %}{% endblock %}
{% block subtitle %}#{{ directory.id }}: {{  directory.fullName }} -  {% trans %}title_history{% endtrans %} {% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        {% include '_cells/historyDisplay.html.twig' with {'history': history, notype: true} %}
    </div>
</div>
{% endblock %}
