{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_notification_list{% endtrans %}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-8"><hr>
      {% include '_cells/notificationTable.html.twig' with {'notifications': pagination} %}
    </div>
</div>
<div class="row">
  {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
