
<div class="p-2">
    <h4>{% trans %}title_informations{% endtrans %}</h4>
    {{ document.content | raw }}
</div>
<hr>
<ul>
    <li>{% trans %}title_amount{% endtrans %} : {{ document.amountMoney }} {{'currency_symbol'|trans}}</li>
    <li>{% trans %}title_hours{% endtrans %} : {{ document.amountTime }} {{ 'title_hours'| trans }}</li>
</ul>