<p>{% trans %}title_sanction_for{% endtrans %} : <span class="fw-bold">{{ document.user.fullName }}</span></p>

<p class="text-decoration-underline">{% trans %}title_description{% endtrans %} :</p>
<p>{{ document.content | raw }}</p>