{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_user_view{% endtrans %}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4">
      <h2>{% trans %}title_informations{% endtrans %} - {% trans %}title_admin_version{% endtrans %}</h2>
      <hr>
      {% include '_cells/adminUserActions.html.twig' with {'user': user} %}
      <hr>
      {% include '_cells/adminUserInformations.html.twig' with {'user': user} %}
    </div>
    <div class="col-lg-6">
      <h2>{% trans %}title_documents{% endtrans %}</h2>
      <hr>
      {% include '_cells/documentTable.html.twig' with {'documents': pagination} %}
      <div class="row">{{ knp_pagination_render(pagination) }}</div>
    </div>
  </div>
{% endblock %}
