{% if is_granted('edit', comment) %}
<a href="{{ path('comment_edit', {'id': comment.id}) }}" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_edit{% endtrans %}"><i class="far fa-edit"></i></a>
{% endif %}
{% if is_granted('delete', comment) %}
<a href="{{ path('comment_delete', {'id': comment.id}) }}" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_delete{% endtrans %}" onclick="return confirm('{% trans %}confirm_ok_delete{% endtrans %}')"><i class="fa fa-trash"></i></a>
{% endif %}