<div class="card user-card user-card-1">
    <div class="card-header">{% trans %}title_medical_informations{% endtrans %}
        {% if is_granted('edit', directory) %}
        <span class="float-end">
            <a href="{{ path('directory_edit', {'id': directory.id}) }}" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_edit_medical{% endtrans %}"><i class="far fa-edit"></i></a>
        </span>
        {% endif %}</div>
    <div class="card-body pb-0">
        <div class=" mb-2 p-2 border">
            <p>{% trans %}title_medical_contact{% endtrans %}</p><hr>
            {{ directory.medicalContact | raw }}
        </div>
        <div class=" mb-2 p-2 border">
            <p>{% trans %}title_medical_lastwish{% endtrans %}</p><hr>
            {{ directory.medicalLastWish | raw }}
        </div>
        <div class=" mb-2 p-2 border">
            <p>{% trans %}title_medical_trusted{% endtrans %}</p><hr>
            {{ directory.medicalTrusted | raw }}
        </div>
        <div class=" mb-2 p-2 border">
            <p>{% trans %}title_medical_family_history{% endtrans %}</p><hr>
            {{ directory.medicalFamilyHistory | raw }}
        </div>
        <div class=" mb-2 p-2 border">
            <p>{% trans %}title_medical_history{% endtrans %}</p><hr>
            {{ directory.medicalHistory | raw }}
        </div>
        <div class=" mb-2 p-2 border">
            <p>{% trans %}title_medical_allergies{% endtrans %}</p><hr>
            {{ directory.medicalAllergies | raw }}
        </div>
        <div class=" mb-2 p-2 border">
            <p>{% trans %}title_medical_blood{% endtrans %}</p><hr>
            {{ directory.medicalBloodGroup | raw }}
        </div>
        <div class=" mb-2 p-2 border">
            <p>{% trans %}title_medical_drugs{% endtrans %}</p><hr>
            {{ directory.medicalDrugs | raw }}
        </div>
        <div class=" mb-2 p-2 border">
            <p>{% trans %}title_medical_alcohol{% endtrans %}</p><hr>
            {{ directory.medicalAlcohol | raw }}
        </div>
        <div class=" mb-2 p-2 border">
            <p>{% trans %}title_medical_treatment{% endtrans %}</p><hr>
            {{ directory.medicalTreatment | raw }}
        </div>
    </div>    
</div>