{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_folder_add_directory{% endtrans%} "{{ folder.title }}"{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-5">
      {{form(searchForm)}}
    </div>    
    <div class="col">
      {% if wanted %}
        <a href="{{ path('folder_directory', {id: folder.id}) }}" class="btn btn-primary my-1">{% trans %}button_exit_wanted_directories{% endtrans %}</a>
      {% else %}
        <a href="{{ path('folder_directory_wanted', {id: folder.id}) }}" class="btn btn-info my-1">{% trans %}button_go_to_wanted_directories{% endtrans %}</a>
      {% endif %}

      {% if dead %}
        <a href="{{ path('folder_directory', {id: folder.id}) }}" class="btn btn-primary my-1">{% trans %}button_exit_dead_directories{% endtrans %}</a>
      {% else %}
        <a href="{{ path('folder_directory_dead', {id: folder.id}) }}" class="btn btn-info my-1">{% trans %}button_go_to_dead_directories{% endtrans %}</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      {% include '_cells/directoryTable.html.twig' with {'directories': pagination, addtofolder: folder.id} %}
    </div>
  </div>
  <div class="row">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
