{% extends '_emails/_template.html.twig' %}
{% block emailcontent %}
<h1>{% trans %}email_title_confirm_email{% endtrans %}</h1>

<p>
    {% trans %}email_text_confirm_by_clicking{% endtrans %}: <br><br>
    <a href="{{ signedUrl }}">{% trans %}email_link_confirm_my_email{% endtrans %}</a>.
    {% trans %}email_text_link_expire_in{% endtrans %} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {% trans %}cheers{% endtrans %} !
</p>
{% endblock %}