{% extends '_emails/_template.html.twig' %}
{% block emailcontent %}
<h1>{% trans %}hi{% endtrans %}</h1>

<p>{% trans %}email_text_confirm_by_clicking{% endtrans %}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{% trans %}email_text_link_expire_in{% endtrans %} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{% trans %}cheers{% endtrans %} !</p>
{% endblock %}