{% extends 'base.html.twig' %}

{% block title %}
{{ "title_creation"|trans }} {{ "of"|trans }}  {{ ("documentType_" ~ type|capitalize)|trans }}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-8 p-3 py-md-2">    
    {{ form(form) }}
  </div>

  <div class="col-md-4">
    {% if document.directory is defined and document.directory is not null %}
    <h3>{% trans %}title_directory_linked{% endtrans %}</h3><hr>
      {% include '_cells/directoryCard.html.twig' with {'directory': document.directory} %}          
    {% endif %}

    {% if document.user is defined and document.user is not null %}
    <h3>{% trans %}title_user_linked{% endtrans %}</h3><hr>
      {% include '_cells/userInformations.html.twig' with {'user': document.user} %}         
    {% endif %}
  </div>
</div>
{% endblock %}
