{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}{% trans %}title_errorpage_403{% endtrans %}{% endblock %}

{% block body %}
<!-- [ 403 ] start -->
<div class="row">
	<div class="col">
		<h4 class="mb-3 f-w-400 text-center"><p>{{ 'title_errorpage_403_message' |trans}}</p></h4>
                        {{ block('youcan') }}
	</div>
</div>

<!-- [ 403 ] end -->
{% endblock %}
