{% extends 'base.html.twig' %}
{% block title %}{% trans %}title_errorpage_error{% endtrans %}{% endblock %}

{% block error %}    
    <p>{{ 'title_errorpage_error_message' |trans}}</p>
{% endblock %}

{% block youcan %}
    {% set referer = app.request.server.get('HTTP_REFERER')|default(null) %}
    <div class="row">
        <div class="col">
            <hr>
            <p class="text-left">{% trans %}you_can{% endtrans %}</p>   
            <ul class="text-left">
                {% if referer is not null %}<li><a href="{{ referer }}">{% trans %}go_back_to_referer{% endtrans %}</a></li>{% endif %}
                <li><a href="{{ path('home') }}">{% trans %}go_back_to_home{% endtrans %}</a></li>
            </ul>
        </div>     
    </div>
{% endblock %}

{% block body %}    
    <div class="row">
        <div class="col">
            {{ block('error') }}
        </div>
    </div>
    {{ block('youcan') }}
{% endblock %}

