<a href="{{ path('user_view', {id: sender.id}) }}">{{ sender.fullname }}</a> {{ 'edited_your'|trans }} {{ ("documentType_" ~ document.getClassShort)|trans }} <a href="{{ path('document_view', {id: document.id}) }}">{{ document.title }}</a>